@tailwind base;
@tailwind components;
@tailwind utilities;

.selected {
  animation: selected 1s linear forwards;
}

@keyframes selected {
  0% {
    background-color: white;
    opacity: 1;
  }

  100% {
    background-color: red;
    opacity: 0;
    display: none;
  }
}